@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

$color1: #ffc229;
$color2: #2d3776;

.MapInterface {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Fredoka', sans-serif;
  align-items: center;

  &__UpButton {
    display: none;
  }

  &__DownButton {
    display: none;
  }

  .formActivator {
    transition: all 0.2s ease-in-out;

    &--active {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
    }
  }

  .button {
    border: none;
    margin: 0 5px;

    &--active {
      box-shadow: inset 0px 0px 6px 1px black;
      border: none;
      border: 2px solid $color1;
    }
  }

  .button--send {
    font-size: 2rem;
    color: white;
    padding: 1rem 4rem;
    background: none;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 1s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
      color: $color1;
    }
  }

  .button--send span {
    position: absolute;
    background-color: $color1;
    width: 4px;
    height: 4px;
    transition: transform 0.5s ease, background 0.5s ease;
  }

  .button--send:hover span {
    background: $color1;
  }

  .button--send span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-90%);
  }

  .button--send span:nth-child(2) {
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(-85%);
  }

  .button--send span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    transform: translateX(90%);
  }

  .button--send span:nth-child(4) {
    bottom: 0;
    right: 0;
    height: 100%;
    transform: translateY(85%);
  }

  .button--send:hover span {
    transform: translate(0);
  }

  &__formActivator {
    border: none;
    z-index: 100;
    position: absolute;
    width: 60px;
    height: 60px;
    background: $color1;
    right: 30px;
    top: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    cursor: pointer;
  }

  &__background {
    background: $color2;
    width: 180px;
    height: 80%;
    left: 0;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    position: absolute;
    z-index: 1;
  }

  .menu {
    left: 0;
    position: absolute;
    width: 170px;
    height: 80%;
    background: $color1;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;

    &__btn {
      cursor: pointer;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25),
        -6px -6px 4px rgba(255, 255, 255, 0.25);
      background: #ffffff;
      height: 100px;
      width: 100px;
      border-radius: 15px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 42px;
    }
  }

  .FormSection {
    position: absolute;
    background: $color2;
    height: 100%;
    width: 100%;
    left: -100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

    &--active {
      left: 0%;
      transition: all 0.5s ease-in-out;
    }

    &__form {
      background: #242e68;
      height: 80%;
      width: 40%;
      box-shadow: inset 0px 0px 10px 12px rgba(0, 0, 0, 0.25);
      @media only screen and (min-width: 768px) {
        border-radius: 91px;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__input {
      margin-bottom: 55px;
      background: transparent;
      border: none;
      border-bottom: 3px solid white;
      font-family: 'Fredoka', sans-serif;
      width: 50%;
      height: 50px;
      font-size: 1.5em;
      color: white;

      &:focus {
        font-size: 1.5em;
        color: white;
        outline: none;
      }

      &::placeholder {
        color: white;
        font-size: 18px;
      }
    }

    &__label {
      color: white;
      font-size: 24px;
      margin-bottom: 15px;
    }

    &__btn {
      cursor: pointer;
      width: 150px;
      height: 60px;
      font-family: 'Fredoka', sans-serif;
      font-size: 24px;
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .MapInterface {
    &__formActivator {
      width: 45px;
      height: 45px;
      left: 30px;
      top: 85vh;
      font-size: 28px;
    }

    &__UpButton {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 8vh;
      background: white;
      color: black;
      box-shadow: 0px 0px 8px 1px black;
      font-size: 38px;
      z-index: 100;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
    }

    &__DownButton {
      background: white;
      position: absolute;
      box-shadow: 0px 0px 8px 1px black;
      width: 100vw;
      height: 8vh;
      bottom: 0;
      z-index: 100;
      font-size: 38px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
    }

    &__arrow {
      font-size: 48px;
      transform: translateY(-10%);
    }

    .menu {
      display: none;
    }

    &__background {
      display: none;
    }

    .FormSection {
      &__form {
        height: 100%;
        width: 100%;
      }
    }
  }
}
