@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

$color1: #ffc229;
$color2: #2d3776;
.Form {
  position: absolute;
  background: $color2;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;

  transform: translateX(0);
  transition: all 0.5s ease-in-out;

  &:not(.Form--active) {
    transform: translateX(-100%);
    height: 0px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, transition 0.01s linear 0.1s;
  }

  &__header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 200px;
    }
    h1 {
      margin: 0;
      padding: 0;
    }

    &--Desktop {
      margin: 20px 0 30px 0;
      font-size: 3em;
      @media only screen and (max-width: 768px), (max-height: 580px) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      position: absolute;
      font-size: 1.5em;
      top: 0;
      margin-top: 24px;
      @media only screen and (max-width: 768px), (max-height: 580px) {
        display: flex;
      }

      @media only screen and (max-width: 300px), (max-height: 540px) {
        display: none;
      }

      img {
        width: 120px;
      }
    }
  }

  &__main {
    padding: 40px;
    background: $color2;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    height: 75%;
    width: 52%;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px 12px rgba(0, 0, 0, 0.25);

    @media only screen and (max-width: 768px), (max-height: 580px) {
      min-height: 100vh;
      width: 100%;
      border-radius: 0;
    }

    @media only screen and (max-width: 500px), (max-height: 580px) {
      font-size: 0.9em;
    }

    &--active {
      left: 0%;
      transition: all 0.5s ease-in-out;
    }
  }

  &__inputField {
    position: relative;
    margin-bottom: 15px;
    width: 70%;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: white;
    outline: none;
    @media only screen and (max-width: 768px) {
      font-size: 1.3em;
    }

    &::placeholder {
      color: transparent;
    }

    &:focus ~ label,
    &:hover ~ label,
    &:not(:placeholder-shown) ~ label {
      transform: translateY(-100%);
      font-size: 1em;
    }

    &:focus,
    &:not(:placeholder-shown) {
      border-bottom: 3px solid $color1;
    }

    &:not(:placeholder-shown) ~ label {
      font-size: 1em;
    }
  }

  &__inputLabel {
    width: 100%;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4em;
    cursor: pointer;
    color: #dddddd;
    font-family: 'Poppins', sans-serif;
  }

  &__input:focus ~ &__inputHints {
    display: block;
  }

  &__inputHints {
    z-index: 100;
    display: none;
    font-size: 1.4em;
    position: absolute;
    background-color: #192d41;
    color: white;
    border-radius: 10px;
  }

  &__hint {
    padding: 7px 15px;
    cursor: pointer;
    border-bottom: 1px solid white;

    &:hover {
      background-color: #3c4e5f;
    }

    &:first-child {
      border-radius: 10px 10px 0px 0px;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0px 0px 10px 10px;
    }
  }

  &__error {
    color: #ff0008;
    font-size: 1.3em;
    margin-bottom: 25px;
  }

  &__qualityHeader {
    color: white;
    font-size: 1.5em;
    margin: 10px 0 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  &__btnInForm {
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-top: 25px;
    @media only screen and (max-width: 768px) {
      width: 120px;
      height: 50px;
      font-size: 1.3em;
    }
  }

  &__qualityBtn {
    border: none;
    margin: 0 5px;

    &--active {
      box-shadow: inset 0px 0px 6px 1px black;
      border: none;
      border: 2px solid $color1;
    }
  }

  &__showBtn {
    font-size: 2em;
    color: white;
    padding: 1.2rem 4rem;
    background: none;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 1s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $color1;
    }

    span {
      position: absolute;
      background-color: $color1;
      width: 4px;
      height: 4px;
      transition: transform 0.5s ease, background 0.5s ease;
    }

    &:hover span {
      background: $color1;
    }

    span:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-90%);
    }

    span:nth-child(2) {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateY(-85%);
    }

    span:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      transform: translateX(90%);
    }

    span:nth-child(4) {
      bottom: 0;
      right: 0;
      height: 100%;
      transform: translateY(85%);
    }

    &:hover span {
      transform: translate(0);
    }
  }

  &__signature {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 1em;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
  }
}
