@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

$color1: #ffc229;
$color2: #2d3776;
.Form {
  position: absolute;
  background: $color2;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;

  &--active {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  &__header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 200px;
    }
    h1 {
      margin: 0;
      padding: 0;
    }

    &--Desktop {
      margin: 16px 0;
      font-size: 3em;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      position: absolute;
      font-size: 1.5em;
      top: 0;
      margin-top: 24px;
      @media only screen and (max-width: 768px) {
        display: flex;
      }

      img {
        width: 120px;
      }
    }
  }

  &__main {
    padding-top: 16px;
    background: $color2;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    height: 75%;
    width: 45%;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px 12px rgba(0, 0, 0, 0.25);

    @media only screen and (max-width: 768px) {
      height: 100%;
      width: 100%;
      border-radius: 0;
    }

    &--active {
      left: 0%;
      transition: all 0.5s ease-in-out;
    }
  }

  &__inputField {
    position: relative;
    margin-bottom: 35px;
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    color: white;
    outline: none;
    @media only screen and (max-width: 768px) {
      font-size: 1.3em;
    }

    &::placeholder {
      color: transparent;
    }

    &:focus ~ label,
    &:hover ~ label,
    &:not(:placeholder-shown) ~ label {
      transform: translateY(-100%);
      font-size: 1em;
    }

    &:focus,
    &:not(:placeholder-shown) {
      border-bottom: 3px solid $color1;
    }

    &:not(:placeholder-shown) ~ label {
      font-size: 1em;
    }
  }

  &__inputLabel {
    width: 100%;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    cursor: pointer;
    color: #dddddd;
  }

  &__qualityHeader {
    color: white;
    font-size: 1.5em;
    margin: -10px 0 15px 0;
    text-align: center;
  }

  &__btnInForm {
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    margin-top: 25px;
    @media only screen and (max-width: 768px) {
      width: 130px;
      height: 50px;
      font-size: 1.3em;
    }
  }

  &__qualityBtn {
    border: none;
    margin: 0 5px;

    &--active {
      box-shadow: inset 0px 0px 6px 1px black;
      border: none;
      border: 2px solid $color1;
    }
  }

  &__showBtn {
    font-size: 2em;
    color: white;
    padding: 0.6rem 4rem;
    background: none;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 1s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
      color: $color1;
    }

    span {
      position: absolute;
      background-color: $color1;
      width: 4px;
      height: 4px;
      transition: transform 0.5s ease, background 0.5s ease;
    }

    &:hover span {
      background: $color1;
    }

    span:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-90%);
    }

    span:nth-child(2) {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateY(-85%);
    }

    span:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      transform: translateX(90%);
    }

    span:nth-child(4) {
      bottom: 0;
      right: 0;
      height: 100%;
      transform: translateY(85%);
    }

    &:hover span {
      transform: translate(0);
    }
  }

  &__signature {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 1em;
    text-align: right;
  }
}
