@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

$color1: #ffc229;
$color2: #2d3776;
.formBackground {
  position: absolute;
  background: $color2;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  &--active {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }
}

.Form {
  background: $color2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  height: 85%;
  width: 50%;
  border-radius: 25px;
  box-shadow: inset 0px 0px 10px 12px rgba(0, 0, 0, 0.25);

  @media only screen and (max-width: 768px) {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  &--active {
    left: 0%;
    transition: all 0.5s ease-in-out;
  }

  &__inputField {
    position: relative;
  }

  &__input {
    margin-bottom: 55px;
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    color: white;
    outline: none;

    &::placeholder {
      color: transparent;
    }

    &:focus ~ label,
    &:hover ~ label,
    &:not(:placeholder-shown) ~ label {
      transform: translateY(-100%);
      font-size: 1rem;
    }

    &:focus,
    &:not(:placeholder-shown) {
      border-bottom: 3px solid $color1;
    }

    &:not(:placeholder-shown) ~ label {
      font-size: 1rem;
    }
  }

  &__inputLabel {
    width: 100%;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: #dddddd;
  }

  &__qualityHeader {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__btnInForm {
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-family: 'Fredoka', sans-serif;
    font-size: 24px;
    margin-top: 25px;
  }

  &__qualityBtn {
    border: none;
    margin: 0 5px;

    &--active {
      box-shadow: inset 0px 0px 6px 1px black;
      border: none;
      border: 2px solid $color1;
    }
  }

  &__showBtn {
    font-size: 2rem;
    color: white;
    padding: 0.6rem 4rem;
    background: none;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 1s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
      color: $color1;
    }

    span {
      position: absolute;
      background-color: $color1;
      width: 4px;
      height: 4px;
      transition: transform 0.5s ease, background 0.5s ease;
    }

    &:hover span {
      background: $color1;
    }

    span:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-90%);
    }

    span:nth-child(2) {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateY(-85%);
    }

    span:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      transform: translateX(90%);
    }

    span:nth-child(4) {
      bottom: 0;
      right: 0;
      height: 100%;
      transform: translateY(85%);
    }

    &:hover span {
      transform: translate(0);
    }
  }

  &__signature {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 0.9rem;
    text-align: right;
  }
}
