$color1: #ffc229;
$color2: #2d3776;

.form {
    // position: absolute;
    background: $color2;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    background: #242e68;
    height: 85%;
    width: 50%;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px 12px rgba(0, 0, 0, 0.25);

    .Map3D {
        display: none;
    }

    &__Map3d {
        display: none;
    }

    &--active {
        left: 0%;
        transition: all 0.5s ease-in-out;
    }

    &__input {
        margin-bottom: 55px;
        background: transparent;
        border: none;
        border-bottom: 3px solid white;
        font-family: 'Fredoka', sans-serif;
        width: 50%;
        height: 50px;
        font-size: 1.5em;
        color: white;

        &:focus {
            font-size: 1.5em;
            color: white;
            outline: none;
        }

        &::placeholder {
            color: white;
            font-size: 18px;
        }
    }

    &__label {
        color: white;
        font-size: 24px;
        margin-bottom: 15px;
    }

    &__btn {
        cursor: pointer;
        width: 150px;
        height: 60px;
        font-family: 'Fredoka', sans-serif;
        font-size: 24px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .form {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}