.RoomNumber__text {
  background-color: white;
  font-size: 6rem;
  line-height: 6rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
