$color1: #ffc229;
$color2: #2d3776;

.MapInterface {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Poppins', sans-serif;
  align-items: center;

  &__formActivator {
    background-color: $color1;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;

    top: 20px;

    cursor: pointer;
    border-radius: 50%;

    svg {
      width: 35px;
      height: 35px;
    }
    &--active {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
      @media only screen and (max-width: 768px) {
        transform: rotate(180deg) translateY(calc(64px + -90vh));
      }
    }
  }

  &__background {
    background: $color2;
    width: 170px;
    height: 70%;
    left: 0;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    position: absolute;
    z-index: 1;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__menu {
    left: 0;
    position: absolute;
    width: 160px;
    height: 70%;
    background: $color1;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__menuBtn {
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25),
      -4px -4px 4px hsla(0, 0%, 100%, 0.5);
    background-color: #ffffff;
    height: 90px;
    width: 90px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.62em;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25),
        -6px -6px 4px hsla(0, 0%, 100%, 0.5);
    }

    &--active {
      text-decoration: underline;
    }

    &--startRoomFloor {
      background: linear-gradient(-40deg, #2ecc70 0%, rgb(255, 255, 255) 45%);
    }
    &--endRoomFloor {
      background: linear-gradient(40deg, #ff1818 0%, rgb(255, 255, 255) 45%);
    }

    &--endRoomFloor.MapInterface__startRoomFloor {
      background: linear-gradient(
          -40deg,
          #2ecc70d5 0%,
          rgba(255, 255, 255, 0) 40%
        ),
        linear-gradient(40deg, #ff1818e5 0%, rgba(255, 255, 255, 0) 40%),
        #ffffff;
    }
  }

  &__mobileMenu {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    svg {
      cursor: pointer;
      height: min(18vw, 52px);
      width: min(18vw, 32px);
    }

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  &__mobileMenuBtn {
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    background: $color2;
    height: min(18vw, 60px);
    width: min(18vw, 60px);
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 6px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

    &--active {
      text-decoration: underline;
    }

    &--startRoomFloor {
      box-shadow: 4px 4px 4px rgba(46, 204, 113, 0.75);
    }
    &--endRoomFloor {
      box-shadow: -5px -5px 4px rgba(255, 24, 24, 0.75);
    }

    &--endRoomFloor.MapInterface__startRoomFloor {
      box-shadow: 4px 4px 4px rgba(46, 204, 113, 0.75),
        -5px -5px 4px rgba(255, 24, 24, 0.75);
    }
  }
}
